/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/screen.scss */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* line 41, ../sass/screen.scss */
body {
  font-size: 16px;
  font-family: 'HelveticaNeueW02-55Roma', sans-serif;
}

/* line 45, ../sass/screen.scss */
.container {
  max-width: 920px;
  padding: 0;
}

/* line 49, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

/* line 54, ../sass/screen.scss */
a:visited {
  color: #333333;
}

/* line 57, ../sass/screen.scss */
a:hover, a:active {
  text-decoration: none;
  color: #CA2D3A;
}

/* line 61, ../sass/screen.scss */
hr {
  border-top: 4px solid #eee;
}

/* line 64, ../sass/screen.scss */
.container-fluid {
  padding: 0;
}

/* line 67, ../sass/screen.scss */
.row {
  padding: 0;
  width: 100%;
  margin: 0;
}

/* line 72, ../sass/screen.scss */
input:focus, button:focus, a:focus {
  outline: none;
  border: none;
}

/* line 76, ../sass/screen.scss */
.pull-right {
  float: right;
}

/* line 79, ../sass/screen.scss */
section {
  min-height: 430px;
}

/* line 84, ../sass/screen.scss */
header .logoCont {
  padding-left: 0;
}
/* line 88, ../sass/screen.scss */
header .top_nav_icons {
  margin: 25px 0 22px 20px;
  text-align: right;
}
/* line 91, ../sass/screen.scss */
header .top_nav_icons li {
  list-style: none;
  display: inline-block;
}
/* line 95, ../sass/screen.scss */
header .top_nav_icons li a {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-image: url(../../assets/img/socialIcons.png);
  background-repeat: no-repeat;
}
/* line 104, ../sass/screen.scss */
header .top_nav_icons .fb {
  background-position: -2px -1px;
}
/* line 107, ../sass/screen.scss */
header .top_nav_icons .skype {
  background-position: -86px -28px;
}
/* line 110, ../sass/screen.scss */
header .top_nav_icons .vk {
  background-position: -2px -28px;
}
/* line 113, ../sass/screen.scss */
header .top_nav_icons .odnoklassniki {
  background-position: -58px -28px;
}
/* line 118, ../sass/screen.scss */
header ul li {
  display: inline;
}
/* line 121, ../sass/screen.scss */
header .logoPic {
  width: 80px;
  float: left;
  position: relative;
  bottom: 30px;
}
/* line 127, ../sass/screen.scss */
header ul#topMenu {
  float: right;
  margin-top: 10px;
}
/* line 131, ../sass/screen.scss */
header ul#topMenu a {
  font-weight: 700;
  font-size: 11px;
  font-family: 'ITC Conduit W04 Medium', arial, sans-serif;
}
/* line 136, ../sass/screen.scss */
header ul#topMenu a:focus {
  color: #A90B1A;
}
/* line 139, ../sass/screen.scss */
header ul#topMenu li {
  padding: 0px 10px 2px 10px;
  border-right: solid 2px #333333;
}
/* line 143, ../sass/screen.scss */
header ul#topMenu :nth-child(5) {
  border: none;
}
/* line 148, ../sass/screen.scss */
header ul#mainMenu {
  text-transform: uppercase;
  font-weight: 600;
}
/* line 152, ../sass/screen.scss */
header ul#mainMenu li {
  margin-right: 20px;
  font-size: 12px;
  float: left;
}
/* line 156, ../sass/screen.scss */
header ul#mainMenu li a {
  filter: alpha(opacity=80);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
/* line 159, ../sass/screen.scss */
header ul#mainMenu li a:hover {
  cursor: not-allowed !important;
  color: #A90B1A;
}
/* line 164, ../sass/screen.scss */
header ul#mainMenu li:hover {
  cursor: not-allowed;
}
/* line 170, ../sass/screen.scss */
header .sepLine {
  display: block;
  width: 100%;
  position: relative;
  top: 4px;
  float: left;
}
/* line 177, ../sass/screen.scss */
header .sepLine hr {
  width: 100%;
  margin-top: 0;
}

/* line 186, ../sass/screen.scss */
.carousel.fade {
  opacity: 1;
}

/* line 189, ../sass/screen.scss */
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}

/* line 202, ../sass/screen.scss */
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}

/* line 206, ../sass/screen.scss */
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}

/* line 216, ../sass/screen.scss */
#mainCont {
  margin-top: 10px;
}
/* line 220, ../sass/screen.scss */
#mainCont .announcements {
  margin-bottom: 15px;
}
/* line 223, ../sass/screen.scss */
#mainCont .announcements .col-md-4, #mainCont .announcements .col-md-8 {
  padding-right: 0;
}
/* line 228, ../sass/screen.scss */
#mainCont .announcementsCont {
  padding: 0;
}
/* line 232, ../sass/screen.scss */
#mainCont .announcements:nth-child(3) {
  margin-bottom: 0;
}
/* line 236, ../sass/screen.scss */
#mainCont .headline {
  background-color: #ca2d3a;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  padding: 10px;
  text-transform: uppercase;
  filter: alpha(opacity=80);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

/* line 249, ../sass/screen.scss */
.row.shortArticles {
  display: flex;
  flex-wrap: wrap;
}

/* line 253, ../sass/screen.scss */
.topStories {
  padding-left: 0;
}
/* line 256, ../sass/screen.scss */
.topStories .innerStories {
  min-height: 400px;
}

/* line 261, ../sass/screen.scss */
.date, .date .day, .date .month {
  color: #000;
  text-transform: uppercase;
  font-family: 'ITC Conduit W04 Medium', arial, sans-serif;
  float: right;
}
/* line 267, ../sass/screen.scss */
.date .day {
  font-size: 40px;
}
/* line 271, ../sass/screen.scss */
.date .month {
  text-transform: uppercase;
  font-size: 12px;
}

/* line 278, ../sass/screen.scss */
.event {
  line-height: 14px;
}
/* line 281, ../sass/screen.scss */
.event .time {
  font-size: 12px;
}
/* line 282, ../sass/screen.scss */
.event .time span {
  color: #666;
}
/* line 288, ../sass/screen.scss */
.event .eventDescription {
  font-size: 14px;
  line-height: 18px;
}
/* line 290, ../sass/screen.scss */
.event .eventDescription a {
  color: #A90B1A;
  font-weight: 600;
}
/* line 297, ../sass/screen.scss */
.event .place {
  font-size: 13px;
}
/* line 298, ../sass/screen.scss */
.event .place span {
  color: #666;
}

/* line 305, ../sass/screen.scss */
.topStories {
  margin-top: 35px;
  padding-left: 15px;
}
/* line 310, ../sass/screen.scss */
.topStories img {
  width: 100%;
}
/* line 313, ../sass/screen.scss */
.topStories h2 {
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'ITC Conduit W04 Regular', arial, sans-serif;
}
/* line 321, ../sass/screen.scss */
.topStories h2:hover {
  color: #A90B1A;
  text-decoration: underline;
}
/* line 325, ../sass/screen.scss */
.topStories p {
  font-size: 13px;
  line-height: 1.3;
  min-height: 76px;
  font-family: 'HelveticaNeueW02-55Roma', sans-serif;
}
/* line 331, ../sass/screen.scss */
.topStories .categoryNews {
  border: 1px solid #000000;
  border-left: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  margin-top: 10px;
  background-color: #ffffff;
  opacity: 0.7;
  padding: 5px;
  min-width: 50px;
  text-align: center;
}
/* line 345, ../sass/screen.scss */
.topStories .newsHighlight {
  padding: 15px;
  background-color: #F7F7F7;
  min-height: 225px;
}
/* line 350, ../sass/screen.scss */
.topStories .readMore {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  opacity: 0.7;
  padding: 5px;
}
/* line 358, ../sass/screen.scss */
.topStories .readMore:hover {
  color: #A90B1A;
}

/* line 363, ../sass/screen.scss */
footer {
  background-color: #f7f7f7;
  font-family: 'ITC Conduit W04 Bold', arial, sans-serif;
  font-size: 12px;
  padding: 10px 0;
  margin-top: 40px;
}
/* line 370, ../sass/screen.scss */
footer a {
  color: #6f6f6f;
  text-transform: uppercase;
  display: block;
  margin-right: 5px;
  font-family: 'ITC Conduit W04 Bold', arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  cursor: not-allowed;
}
/* line 381, ../sass/screen.scss */
footer li {
  float: left;
  border-right: 1px solid #6f6f6f;
  height: 18px;
  padding: 3px 15px;
}
/* line 388, ../sass/screen.scss */
footer li:first-child {
  padding-left: 0;
}
/* line 391, ../sass/screen.scss */
footer li:last-child {
  border-right: none;
}

/*Register
------------------------------------------------------*/
/* line 401, ../sass/screen.scss */
#registerPage .col-md-4 {
  min-width: 210px;
  padding-left: 0;
}
/* line 405, ../sass/screen.scss */
#registerPage #companyInfo li {
  line-height: 35px;
  margin-top: 0;
}
/* line 409, ../sass/screen.scss */
#registerPage input {
  padding: 0 0 0 12px;
  height: 30px;
  line-height: 12px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
/* line 416, ../sass/screen.scss */
#registerPage input:focus, #registerPage textarea:focus {
  border: 1px solid #A90B1A;
  box-shadow: 0 0 5px #A90B1A;
}
/* line 420, ../sass/screen.scss */
#registerPage input[type="checkbox"] {
  float: left;
  height: 15px;
}
/* line 424, ../sass/screen.scss */
#registerPage .register {
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
}
/* line 429, ../sass/screen.scss */
#registerPage .col-lg-4, #registerPage #registerPage .col-lg-8, #registerPage #registerPage {
  padding: 0;
}
/* line 432, ../sass/screen.scss */
#registerPage .usersListRegister .col-lg-1, #registerPage .usersListRegister .col-lg-3,
#registerPage .usersListRegister .col-lg-5, #registerPage .col-lg-5 {
  padding-left: 0;
}
/* line 436, ../sass/screen.scss */
#registerPage #companyInfo {
  margin-bottom: 30px;
}
/* line 439, ../sass/screen.scss */
#registerPage select {
  width: 72px;
  height: 27px;
}
/* line 443, ../sass/screen.scss */
#registerPage #headerUsers div {
  text-align: center;
  font-weight: 500;
}
/* line 447, ../sass/screen.scss */
#registerPage .usersListRegister {
  margin-bottom: 10px;
}
/* line 450, ../sass/screen.scss */
#registerPage button.newUser {
  position: relative;
  right: 30px;
  margin-top: 5px;
}
/* line 455, ../sass/screen.scss */
#registerPage .btn-save:focus {
  outline: none;
}
/* line 458, ../sass/screen.scss */
#registerPage .row {
  margin: 0;
}
/* line 461, ../sass/screen.scss */
#registerPage .consent .p {
  margin-bottom: 15px;
}
/* line 464, ../sass/screen.scss */
#registerPage .consent span {
  padding-left: 5px;
  color: #747474;
  font-weight: 600;
}
/* line 469, ../sass/screen.scss */
#registerPage .consent a {
  margin-left: 40px;
  text-decoration: underline;
  color: #747474;
}
/* line 474, ../sass/screen.scss */
#registerPage .btn-save {
  padding: 10px 16px;
  margin-left: 20px;
  margin-top: 60px;
  position: relative;
  left: 295px;
  min-width: 90px;
  color: #ffffff;
  background-color: #A90B1A;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 0 none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0;
}
/* line 491, ../sass/screen.scss */
#registerPage .consent input, #registerPage .consent select {
  text-align: center;
  width: 17px !important;
  position: relative;
  bottom: 4px;
  margin-right: 5px;
}
/* line 498, ../sass/screen.scss */
#registerPage li {
  display: flex;
}
/* line 501, ../sass/screen.scss */
#registerPage textarea {
  height: 105px;
  width: 100%;
  margin-top: 5px;
  resize: none;
  background-color: #f3f3f4;
  border: none;
  padding: 10px;
  color: #747474;
  font-size: 12px;
  line-height: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
/* line 514, ../sass/screen.scss */
#registerPage textarea:focus {
  outline: none;
}
/* line 517, ../sass/screen.scss */
#registerPage h3 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #A90B1A;
}

/* line 524, ../sass/screen.scss */
.star {
  color: #A90B1A;
  font-weight: 600;
  margin: 0 0 0 2px;
}

/* line 529, ../sass/screen.scss */
input {
  border: 0 none;
  background-color: #f3f3f4;
  color: #747474;
  font-size: 12px;
  line-height: 1;
  padding: 0px 0 0px 12px;
}

/*
presse-----------------------------------*/
/* line 540, ../sass/screen.scss */
#newsPage div.search_filter::before {
  display: block;
  content: '';
  width: 13px;
  height: 13px;
  background: url(../../assets/img/icon_sprite.png) no-repeat 0 -102px;
  position: absolute;
  top: 24px;
  left: 28px;
  z-index: 1;
}
/* line 551, ../sass/screen.scss */
#newsPage .newsPicCont {
  padding-left: 0;
}
/* line 554, ../sass/screen.scss */
#newsPage input[type='search'] {
  border: 1px solid #d5d5d5;
  padding: 7.5px 15% 7.5px 35px;
  line-height: 17px;
}
/* line 559, ../sass/screen.scss */
#newsPage input[type='search']:focus {
  outline: none;
  border: 1px solid #d5d5d5;
}
/* line 563, ../sass/screen.scss */
#newsPage input[type='submit'] {
  color: #ffffff;
  background-color: #A90B1A;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 0 none;
  padding: 10px 20px 12px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: relative;
  right: 5px;
}
/* line 580, ../sass/screen.scss */
#newsPage input[type='submit']:hover {
  background-color: #414141;
}
/* line 583, ../sass/screen.scss */
#newsPage .allNewsList {
  margin: 15px 0 15px 10px;
}
/* line 586, ../sass/screen.scss */
#newsPage hr {
  position: relative;
  top: 15px;
  border-top: 3px solid #eee;
  width: 97%;
  float: left;
}
/* line 593, ../sass/screen.scss */
#newsPage hr.firstSepline {
  position: relative;
  top: 0;
}
/* line 597, ../sass/screen.scss */
#newsPage .search_filter {
  margin-top: 15px;
}
/* line 600, ../sass/screen.scss */
#newsPage .time {
  font-weight: 700;
}
/* line 603, ../sass/screen.scss */
#newsPage .eventDescription {
  margin: -5px 0;
}
/* line 606, ../sass/screen.scss */
#newsPage .place {
  margin-bottom: 5px;
}
/* line 609, ../sass/screen.scss */
#newsPage p {
  line-height: 1.3;
  padding-right: 10px;
}
/* line 613, ../sass/screen.scss */
#newsPage .col-md-10, #newsPage .col-md-2 {
  padding-right: 0;
}
/* line 616, ../sass/screen.scss */
#newsPage .reservationBtn {
  color: #ffffff;
  background-color: #A90B1A;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 0 none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}
/* line 634, ../sass/screen.scss */
#newsPage .reservationBtn:hover {
  background-color: #414141;
}

/*
-----------------------------------------*/
/************************************
START Popup Details Page
************************************/
/* line 645, ../sass/screen.scss */
.ngdialog.ngdialog-theme-default .ngdialog-content, .ngdialog.ngdialog-theme-default.wide .ngdialog-content {
  height: auto;
  width: 530px;
  border-radius: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}
/* line 652, ../sass/screen.scss */
.ngdialog.ngdialog-theme-default .ngdialog-content h3, .ngdialog.ngdialog-theme-default.wide .ngdialog-content h3 {
  padding: 10px 16px;
  color: #ffffff;
  background-color: #A90B1A;
  text-align: center;
}

/* line 659, ../sass/screen.scss */
.innerPopup {
  padding: 0 15px 20px 15px;
}
/* line 662, ../sass/screen.scss */
.innerPopup input[type='text'] {
  width: 100%;
  margin-top: 20px;
  background: #f3f3f4;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #aaaaaa;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out 0s;
}
/* line 675, ../sass/screen.scss */
.innerPopup input[type='text']:focus {
  box-shadow: 0 0 5px #A90B1A;
  border: 1px solid #A90B1A;
}
/* line 680, ../sass/screen.scss */
.innerPopup button {
  padding: 10px 16px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  left: 295px;
  min-width: 90px;
  color: #ffffff;
  background-color: #A90B1A;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 0 none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out 0s;
}
/* line 696, ../sass/screen.scss */
.innerPopup .popupText {
  width: 100%;
  margin-top: 20px;
  height: 90px;
  background: #f3f3f4;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #aaaaaa;
  resize: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out 0s;
}
/* line 710, ../sass/screen.scss */
.innerPopup .popupText:focus {
  box-shadow: 0 0 5px #A90B1A;
  border: 1px solid #A90B1A;
}

/* line 716, ../sass/screen.scss */
.ngdialog.ngdialog-theme-default .ngdialog-close {
  display: none;
}

/*
------------------------------------------------------------*/
/* line 722, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-overlay {
  background-color: #ffffff;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

/* line 727, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 100%;
  background-color: transparent;
}
/* line 732, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .innerPopup {
  padding: 0 15px 0px 15px;
}
/* line 736, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .col-md-3 {
  background-color: #f7f7f7;
  filter: alpha(opacity=80);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  padding: 0;
  position: relative;
  left: 20px;
}
/* line 744, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .container {
  filter: alpha(opacity=80);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
/* line 748, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .popGreyBox {
  background-color: #f7f7f7;
  padding: 10px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
/* line 754, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content h3 {
  background: #f7f7f7;
  text-align: left;
  color: #3d6392;
  font-family: 'ITC Conduit W04 Regular', arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
}
/* line 763, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content hr {
  width: 108%;
  border-top: 4px solid #3d6392;
  margin: 0 0 10px 0;
  position: relative;
  left: -10px;
}
/* line 771, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content p {
  color: #666;
  font-size: 14px;
  line-height: 24px;
}
/* line 777, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .subscibePop {
  margin-top: 10px;
}
/* line 780, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .subscibePop a {
  color: #3d6392;
  font-family: 'ITC Conduit W04 Bold', arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 787, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .subscibePop a:hover {
  text-decoration: underline;
  color: #3d6392;
}
/* line 791, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxLeft, .startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxRight, .startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxCenter {
  margin-bottom: 10px;
}
/* line 795, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxCenter h3 {
  color: #4c9853;
}
/* line 798, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxCenter hr {
  border-top: 4px solid #4c9853;
}
/* line 801, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxCenter a {
  color: #4c9853;
}
/* line 804, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxCenter a:hover {
  color: #4c9853;
}
/* line 810, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxRight h3 {
  color: #ca2d3a;
}
/* line 813, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxRight hr {
  border-top: 4px solid #ca2d3a;
}
/* line 816, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxRight a {
  color: #ca2d3a;
}
/* line 819, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .boxRight a:hover {
  color: #ca2d3a;
}
/* line 824, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .closePopup {
  background-image: url("../../assets/img/icon_sprite.png");
  background-position: 0px 64px;
  height: 12px;
  width: 15px;
  float: right;
  filter: alpha(opacity=80);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  cursor: pointer;
  margin-top: -11px;
}
/* line 834, ../sass/screen.scss */
.startingPop.ngdialog.ngdialog-theme-default .ngdialog-content .closePopup:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/************************************
START Benutzerverwaltung
************************************/
/* line 842, ../sass/screen.scss */
.benutzer {
  min-height: 610px;
}
/* line 845, ../sass/screen.scss */
.benutzer .editable-wrap {
  width: 100%;
}
/* line 848, ../sass/screen.scss */
.benutzer .editable-wrap .editable-controls > input {
  width: 100%;
  font-size: 15px;
  padding-left: 15px;
}
/* line 853, ../sass/screen.scss */
.benutzer .editable-wrap .editable-controls > input:focus {
  box-shadow: 0 0 5px #A90B1A;
  border: 1px solid #A90B1A;
  padding-left: 14px;
}
/* line 858, ../sass/screen.scss */
.benutzer input[type='text'] {
  height: 33px;
}
/* line 862, ../sass/screen.scss */
.benutzer button[type='submit'] {
  width: 92px;
}
/* line 865, ../sass/screen.scss */
.benutzer button[type='button'] {
  width: 91px;
}
/* line 868, ../sass/screen.scss */
.benutzer .caret {
  border-top-color: #ffffff;
}
/* line 871, ../sass/screen.scss */
.benutzer #benutzerTable {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 875, ../sass/screen.scss */
.benutzer .tableCell {
  padding: 5px;
  border: 1px solid #ddd;
  height: 45px;
}
/* line 880, ../sass/screen.scss */
.benutzer #benutzerTable #headerTable .tableCell {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 18px;
  color: #A90B1A;
  background-color: #f5f5f5;
  height: 30px;
  padding-top: 8px;
}
/* line 890, ../sass/screen.scss */
.benutzer #tableBody span.editable {
  color: #747474;
  font-size: 15px;
  position: relative;
  top: 9px;
  left: 15px;
}
/* line 897, ../sass/screen.scss */
.benutzer .row {
  margin: 0;
}
/* line 900, ../sass/screen.scss */
.benutzer .btn-primary {
  margin-right: 7%;
  margin-left: 4%;
  min-width: 91px;
}
/* line 905, ../sass/screen.scss */
.benutzer .btn-danger {
  min-width: 91px;
}
/* line 908, ../sass/screen.scss */
.benutzer h4 {
  margin: 0;
  color: #414141;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}

/************************************
END Benutzerverwaltung
************************************/
/* line 920, ../sass/screen.scss */
header .col-md-12 {
  padding-left: 0;
}

/* line 923, ../sass/screen.scss */
#mainMenu li a:hover::after {
  width: 20px;
  z-index: 888;
  position: absolute;
}

/* line 928, ../sass/screen.scss */
#mainMenu li a::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #A90B1A;
  position: absolute;
  margin: 2px 0 0 10px;
  z-index: 888;
  -webkit-transition: width 0.2s ease-in-out 0s;
  -moz-transition: width 0.2s ease-in-out 0s;
  -ms-transition: width 0.2s ease-in-out 0s;
  -o-transition: width 0.2s ease-in-out 0s;
  transition: width 0.2s ease-in-out 0s;
}

/*
aside--------------------------------------------------------*/
/* line 947, ../sass/screen.scss */
aside {
  float: right;
  z-index: 10;
}
/* line 951, ../sass/screen.scss */
aside .panel {
  position: fixed;
  top: 260px;
  right: -2px;
  width: 200px;
  z-index: 10;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
/* line 961, ../sass/screen.scss */
aside .panel.ng-hide {
  right: -200px;
}
/* line 964, ../sass/screen.scss */
aside .panel.ng-hide-add, aside .panel.ng-hide-remove {
  transition: 0s linear all;
}
/* line 967, ../sass/screen.scss */
aside .panel.ng-hide-add-active, aside .panel.ng-hide-remove-active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
/* line 970, ../sass/screen.scss */
aside .helpHead {
  padding: 10px;
  display: block;
  position: fixed;
  top: 340px;
  right: -72px;
  width: 180px;
  background-color: #f7f7f7;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #A90B1A;
  text-transform: uppercase;
  color: #A90B1A;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  max-height: 38px;
  cursor: pointer;
}
/* line 987, ../sass/screen.scss */
aside textarea {
  margin-top: 10px;
  height: 110px;
  width: 183px;
  resize: none;
  padding: 10px;
}
/* line 994, ../sass/screen.scss */
aside textarea:focus, aside button.btn:focus {
  outline: none;
}
/* line 997, ../sass/screen.scss */
aside button.btn:focus {
  border: none;
  color: #ffffff;
}
/* line 1001, ../sass/screen.scss */
aside button.btn:hover {
  color: #ffffff;
}
/* line 1004, ../sass/screen.scss */
aside button.btn {
  background-color: #A90B1A;
  color: #ffffff;
  position: relative;
  left: 35%;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
}
/* line 1015, ../sass/screen.scss */
aside h3 {
  text-align: center;
  color: #A90B1A;
  font-weight: 600;
}
/* line 1020, ../sass/screen.scss */
aside .arrowUp {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  bottom: 5px;
  right: 4px;
}
/* line 1026, ../sass/screen.scss */
aside .upButton {
  float: left;
  padding: 1px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0;
  position: relative;
  bottom: 0;
  right: 18px;
  top: -18px;
  z-index: 2;
  background-color: #A90B1A;
  cursor: pointer;
}
/* line 1041, ../sass/screen.scss */
aside .upButton img {
  width: 23px;
}
/* line 1045, ../sass/screen.scss */
aside .upButton.firstBtn {
  right: -135px;
  top: 1px;
  cursor: pointer;
}
/* line 1050, ../sass/screen.scss */
aside .upButton.firstBtn .arrowUp {
  bottom: 5px;
  right: 5px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*
---------------------------------------------------*/
/*START upload page
---------------------------------------------------*/
/* line 1066, ../sass/screen.scss */
#uploadPage .uploadRow {
  height: 40px;
}
/* line 1069, ../sass/screen.scss */
#uploadPage .uploadRow label, #uploadPage .uploadRow p {
  padding-top: 10px;
}
/* line 1072, ../sass/screen.scss */
#uploadPage .uploadRow p {
  padding-left: 10px;
  font-size: 14px;
}
/* line 1077, ../sass/screen.scss */
#uploadPage .uploadRow .editable-click {
  border: none;
  color: #000;
  font-style: italic;
}
/* line 1082, ../sass/screen.scss */
#uploadPage .uploadRow textarea {
  width: 196px;
  min-height: 200px;
  resize: vertical;
  box-shadow: 0 0 5px #A90B1A;
}
/* line 1088, ../sass/screen.scss */
#uploadPage .uploadRow input:focus, #uploadPage .uploadRow textarea:focus {
  border: 1px solid #A90B1A;
  box-shadow: 0 0 5px #A90B1A;
}
/* line 1094, ../sass/screen.scss */
#uploadPage .col-lg-6 {
  margin-top: 10px;
}
/* line 1097, ../sass/screen.scss */
#uploadPage .btn.btn-save {
  position: relative;
  color: #fff;
  left: 40%;
  background-color: #A90B1A;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}
/* line 1104, ../sass/screen.scss */
#uploadPage .btn:focus {
  outline: none;
}
/* line 1107, ../sass/screen.scss */
#uploadPage .btn:hover {
  background-color: #414141;
}
/* line 1110, ../sass/screen.scss */
#uploadPage label, #uploadPage h3 {
  color: #A90B1A;
  font-weight: 600;
}
/* line 1114, ../sass/screen.scss */
#uploadPage h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 1118, ../sass/screen.scss */
#uploadPage p {
  font-weight: 500;
}
/* line 1121, ../sass/screen.scss */
#uploadPage label span {
  font-weight: 500;
  color: #000000;
}
/* line 1125, ../sass/screen.scss */
#uploadPage .progress {
  margin: 10px 0 10px 0;
}
/* line 1128, ../sass/screen.scss */
#uploadPage .uploadPercent {
  color: #f5f5f5;
}
