<div class="dialog-contents">

    <div class="container">
        <div class="closePopup" ng-click="closeThisDialog()"></div>

        <div class="row">

            <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 boxLeft">

                <div class="popGreyBox">
                    <h3>Politics</h3>
                    <hr>
                    <div class="innerPopup">
                        <div class="innerPopupField">

                            <p>
                                Cyber attackers belonging to "New World Hacking" claimed it was behind a major disruption at the BBC for several hours on New Year's Eve. The BBC's online services, including its news website and iPlayer online TV platform, were taken down two days ago in a large web attack, which the group said was part of a test.
                            </p>

                            <div class="subscibePop">
                                <span><a ng-click="closeThisDialog()"> >> Subscribe</a></span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 boxCenter">

                <div class="popGreyBox">
                    <h3>Culture</h3>
                    <hr>
                    <div class="innerPopup">
                        <div class="innerPopupField">

                            <p>
                                Cyber attackers belonging to "New World Hacking" claimed it was behind a major disruption at the BBC for several hours on New Year's Eve. The BBC's online services, including its news website and iPlayer online TV platform, were taken down two days ago in a large web attack, which the group said was part of a test.
                            </p>

                            <div class="subscibePop">
                                <span><a ng-click="closeThisDialog()"> >> Subscribe</a></span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 boxRight">

                <div class="popGreyBox">
                    <h3>Sports</h3>
                    <hr>
                    <div class="innerPopup">
                        <div class="innerPopupField">

                            <p>
                                Cyber attackers belonging to "New World Hacking" claimed it was behind a major disruption at the BBC for several hours on New Year's Eve. The BBC's online services, including its news website and iPlayer online TV platform, were taken down two days ago in a large web attack, which the group said was part of a test.

                            </p>

                            <div class="subscibePop">
                                <span><a ng-click="closeThisDialog()"> >> Subscribe</a></span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

    </div>

    </div>

</div>