<div class="dialog-contents">
    <h3>Reservation</h3>

    <div class="innerPopup">
        <div class="innerPopupField">

            <input type="text" placeholder="Name and last name">
            <input type="text" placeholder="Contact number or email">
            <textarea class="popupText" placeholder="Details"></textarea>

        </div>
        <button class="reservationBtn" ng-click="closeThisDialog()">Close</button>
        <button class="reservationBtn" ng-click="closeThisDialog()">Send</button>
    </div>
</div>